<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<%- include('../partials/_navbar') %>
<body>

<img src="public/images/Beer-right4.PNG" alt="">
    <form action="/drinks" method="GET">

  <nav>
    <%- include('../partials/header') %>
  </nav>
  <div class="container">    <form action="/drinks" method="GET">

    <label for="Type Selector">Type:</label>
    <select name="type" >
        <option value="Beer">Beer</option>
        <option value="Wine">Wine</option>
        <option value="Spirits">Spirits</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit" id="type-filter">   
    </form>
    <!-- <%- include('../partials/bvlogo') %>  I tried to do a semi opaque background that covered the whole background while not affecting any placement or anythign else. It's not working yet, but would be a nice touch if it did.-->
    <h1>Welcome to BrewVine</h1>
    <% drinks.forEach((drink)=>{ %>
        <section class="drink-details">
            <h3><a href="/drinks/<%=drink._id%>"><%=drink.name%></a></h3>
        </section>
    <% }) %>
</body>
</html>